<table datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Fecha</th>
      <th>*</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
        <td>{{student.type}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.timestamp}}</td>
        <td>
          <button type="delete" [id]="student.Name" (click)="onDelete(student.id)">Eliminar</button>
        </td>
      </tr>
  </tbody>
</table>


<!-- 









<table style="width:100%">
  <tr>
    <th>Tipo</th>
    <th>Nombre</th>
    <th>Genero</th>
    <th>Fecha</th>
    <th>*</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.type}}</td>
    <td>{{student.name}}</td>
    <td>{{student.gender}}</td>
    <td>{{student.timestamp}}</td>
    <td>
      <button type="delete" [id]="student.Name" (click)="onDelete(student.id)">Eliminar</button>
    </td>
  </tr>
</table> -->
