<p>
  create works!
</p>


<h2>Create a Student</h2>

<form>
  Select the kind of student:<br>
  <!-- <input  list="kindStudents" name="kindOfStudents">
  <datalist [(ngModel)]="student.Type" id="kindStudents">
    <option value="kinder">
    <option value="Elementary">
    <option value="High">
    <option value="University">
    </datalist> -->

    <select (change)="onChangeType($event.target.value)" class='form-control'>
      <option value="kinder">kinder</option>
      <option value="Elementary">Elementary</option>
      <option value="High">High</option>
      <option value="University">University</option>
    </select>

  <br>
  <br>
  Input name:<br>
  <input [(ngModel)]="student.Name" type="text" name="lastname" value="name">
  <br>
  Select gender:<br>
  <input [(ngModel)]="student.Gender" type="radio" name="gender" value="male" checked> Male<br>
  <input [(ngModel)]="student.Gender" type="radio" name="gender" value="female"> Female
  <br>
  <input type="submit" value="Submit" (click)="save()">
</form> 
<pre>
  {{student | json}}
</pre>
