<div class="container">
        <h5>Rol</h5>
        <h6>Registro Nuevo</h6>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card-panel row z-depth-5">
              <form materialize class="card-stacked col s12" #rolForm="ngForm">
                <div class="card-content">
                    <div class="row">
                      <div class="input-field col s12 m8 l6">
                         <input [(ngModel)]="rol.nombre" (keyup)="capturarCambioNombre($event, rolForm.valid)" name="name" type="text" class="validate form-control" minlength="1" maxlength="50" required>
                         <label for="name" data-error="Ingrese nombre porfavor">Nombre</label>
                      </div>
                      <div class="input-field col s12 m8 l6">
                        <select materialize="material_select" [materializeSelectOptions]="listaTipos"
                          (ngModelChange)="onNgModelChange($event)" name="tipo" [(ngModel)]="tipoExtSelected">
                          <option value="0" disabled selected>Seleccione un Tipo</option>
                          <option *ngFor="let opt of listaTipos" [ngValue]="opt.id">{{opt.nombre}}</option>
                        </select>
                        <label>Extension Universitaria</label>
                      </div>
                    </div>
       
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea [(ngModel)]="rol.descripcion" (keyup)="capturarDescr($event, rolForm.valid)"
                        name="desc" type="text" class="materialize-textarea validate form-control grey lighten-3" minlength="1"
                        maxlength="1000" required></textarea>
                        <label for="desc" data-error="Descripción obligatoria">Descripción</label>
                      </div>
                    </div>
                </div>
                <div class="card-action box center">
                  <button class="btn waves-effect waves-red" type="submit" name="action" (click)="save()" [disabled]="!esValido">Ragistrar
                    <i class="material-icons right">create</i>
                  </button>
                  <button class="btn waves-effect waves-red blue" name="limpiar" (click)="clear()">Limpiar
                    <i class="material-icons right">clear</i>
                  </button>
                  <button class="btn waves-effect waves-red red darken-1" name="cancelar" (click)="cerrar()">Cancelar
                    <i class="material-icons right">close</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
       </div>